/*************************-----header----************************************/
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");
.Cabecera-login {
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 60px;
  height: 60px;
  line-height: 60px;
  /* border-radius: 50%; */
  margin-right: 15px;
  object-fit: contain;
  /* border: 3px solid #e61c5d;
  box-shadow: 0 0 10px 0 #e61c5d; */
}

.logo h1 {
  font-size: 20px;
}

.contenido-menu a {
  text-decoration: none;
  font-size: 16px;
  color: #e61c5d;
  font-weight: bold;
  padding: 9px;
  border-radius: 20px;
}

/*************************-----manejo de pasos----************************************/
.Contenido-manejo-pasos {
  width: 90%;
}

.vcv-timeline {
  background-color: #ffffff;
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  color: rgba(46, 46, 46, 0.808);
  border-radius: 40px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.096);
  font-weight: bold;
}

.vcv-timeline .vcv-timeline-item {
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.vcv-timeline .vcv-timeline-item i {
  font-size: 20px;
  margin-right: 5px;
}

.vcv-step-current {
  color: #e61c5d;
  text-shadow: 0 0 10px #e61c5c62;
}

/*************************-----Contenido informacion----************************************/
.informacion {
  width: 100%;
  display: flex;
  justify-content: center;
}

.contenido-informacion {
  width: 90%;
  padding: 40px;
  padding-bottom: 0;
}

.contenido-informacion h3 {
  font-size: 20px;
  font-weight: bold;
  color: #e61c5d;
  margin-bottom: 10px;
}

.contenido-informacion p {
  width: 50%;
  font-size: 15px;
  font-weight: bold;
  color: #3a3a3a;
  margin-bottom: 10px;
  text-align: justify;
}

.contenido-informacion p a {
  width: 50%;
  color: #e61c5d;
  cursor: pointer;
}

/*************************-----cuerpo----************************************/
.cuerpo {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.contenido-cuerpo {
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.contenido-cuerpo .formulario {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding-right: 50px;
}

.formulario form {
  width: 500px;
  height: auto;
  padding: 40px;
  background-color: white;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.151);
  border-radius: 40px;
  z-index: 1;
}

.formulario form .contenido-enlace {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
}

.contenido-enlace > a {
  text-decoration: none;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
}

.contenido-enlace .registrate {
  display: none;
  text-decoration: none;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  color: #e61c5d;
}

.contenido-enlace p {
  display: none;
  text-decoration: none;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  color: #333333;
}

.img-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.img-form img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  /* border-radius: 50%; */
  /* border: 3px solid #e61c5d; */
}

.img-form .LogoImgRegistro {
  position: absolute;
  width: 220px;
  height: 220px;
  margin-right: 5px;
  object-fit: cover;
  margin-top: -120px;
  opacity: 20%;
}

.img-form h2 {
  font-size: 20px;
}

.contenido-cuerpo .ImgLogin {
  width: 40%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ImgLogin img {
  width: 450px;
  height: auto;
  background: transparent;
}

.regis {
  margin-bottom: 30px;
}

.selecciona-logotipo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.selecciona-logotipo img {
  width: 70px;
  height: 70px;
  cursor: pointer;
}

/*************************-----inputs----************************************/
/* .formregistro .contenido-inputs input{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.103);
}
.formregistro .contenido-inputs label{
color: #4d4848;
} */
.contenido-inputs {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.contenido-inputs label {
  font-size: 12px;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 4px;
  color: #b8b8b8;
}

.contenido-inputs input {
  width: 100%;
  padding: 9px 10px;
  border: none;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.048);
  outline: none;
}

textarea, select {
  width: 100%;
  padding: 9px 10px;
  border: none;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.048);
  outline: none;
}

.btn-envio {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  border-radius: 50px;
  outline: none;
  border: none;
  background-color: #e61c5d;
  color: #f7c9d7;
  font-size: 12px;
  font-weight: bold;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.267);
  transition: 0.3s ease all;
}

.btn-envio:hover {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.384);
  cursor: pointer;
  background-color: #e61c5d;
}

::placeholder {
  color: #c9c9c9;
}

/*************************-----Wave(Olas)----************************************/
.wave {
  z-index: -1;
  width: 100%;
  position: fixed;
  bottom: 0;
  /* display: none; */
}

/*************************-----resets y contaniners----************************************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", cursive;
}

.Contenedor {
  max-width: 1500px;
  margin: auto;
}

.imgBackgroundlogin {
  position: fixed;
  width: 100%;
  height: 100vh;
  object-fit: contain;
  opacity: 10%;
  z-index: -1;
}

@media screen and (max-width: 1100px) {
  .cuerpo {
    height: auto;
    /* padding-top: 20px; */
  }

  .contenido-cuerpo {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }

  .contenido-cuerpo .ImgLogin {
    display: none;
  }

  .contenido-cuerpo .formulario {
    display: flex;
    justify-content: center;
    padding: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .contenido-cuerpo .formulario form {
    width: 50%;
  }

  .img-form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .img-form img {
    width: 80px;
    height: 80px;
    margin-bottom: 5px;
  }

  .wave {
    display: block;
  }

  .contenido-informacion p {
    width: 100%;
  }

  .img-form .LogoImgRegistro {
    display: none;
  }
}
/*************************-----Mobile----************************************/
@media screen and (max-width: 800px) {
  .log {
    margin-top: 60px;
  }

  .formulario form {
    width: 100%;
  }

  .contenido-cuerpo .formulario form {
    width: 100%;
    padding: 20px;
    padding-top: 0;
    margin-top: -20px;
  }

  .imgBackgroundlogin {
    object-fit: cover;
  }

  .contenido-inputs {
    margin-top: 20px;
  }

  .contenido-inputs input {
    padding: 13px 10px;
  }

  .img-form img {
    width: 60px;
    height: 60px;
    margin-top: 20px;
  }

  .informacion {
    margin-top: -20px;
  }

  .informacion h3 {
    font-size: 17px;
  }

  .informacion p {
    display: none;
  }

  .Cabecera-login {
    flex-direction: column;
  }

  .Nocolum {
    flex-direction: row;
  }

  .contenido-menu .a-r {
    display: none;
  }

  .contenido-enlace p {
    display: block;
  }

  .contenido-enlace p .registrate {
    display: block;
  }
}

/*# sourceMappingURL=EstilosLogin.css.map */
