@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import "variables";

/*************************-----resets y contaniners----************************************/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;

}


.Contenedor {
    max-width: 1500px;
    margin: auto;

}

.imgBackgroundlogin {
    position: fixed;
    width: 100%;
    height: 100vh;
    object-fit: contain;
    opacity: 10%;
    z-index: -1;
}
