@import "variables";
/*************************-----manejo de pasos----************************************/
.Contenido-manejo-pasos{
    width: 90%;
}

.vcv-timeline {
    background-color: #ffffff;
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    color: rgba(46, 46, 46, 0.808);
    border-radius: 40px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.096);
    font-weight: bold;
}

.vcv-timeline .vcv-timeline-item {
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.vcv-timeline .vcv-timeline-item i{
  font-size: 20px;
  margin-right: 5px;

}

.vcv-step-current{
    color: $Principal_color;
    text-shadow: 0 0 10px  #e61c5c62;
}
