@import "variables";
/*************************-----Wave(Olas)----************************************/
.wave {
    z-index: -1;
    width: 100%;
    position: fixed;
    bottom: 0;
    /* display: none; */
}